<div class="justified">
<p> An import service was invoked to validate the imported files before storing them to the VRE system.</p>
<p> At this version the user can upload one metadata file each time, which is then stored in the connected triple
    store through the respective web-service. The file is imported through the <b>Metadata Manager</b> component and 
    as soon as it is imported, it becomes directly available for querying using the parent demo. 
<p>
In the future we plan to perform the necessary integration with the <b>AAAI component</b> for regulating this operation 
according to the adapted Role Based Access Control (RBAC) mechanism.</p>
</div>