<div>
	
	<md-content>
		
		<md-card>
			
			<div ng-show="resultItemNavHistory.length > 1" class="zoom-show-hide">
				<md-button class="md-primary md-hue-1" 
						   aria-label="Hide Help" 
						   ng-click="handlePreviousSelectedResultItem();">
	   				<md-icon md-font-icon="fa fa-angle-left" style="font-size:24px; margin-top:-4px;"></md-icon>
	   				<span>Previous Entity ({{previousResultItemNavHistory.type}})</span>
	   				<md-tooltip md-delay="1000" 
								md-direction="top">
						Previous
					</md-tooltip>
	      		</md-button>
			</div>
			<md-card-title>
				<md-card-title-text style="width:475px; word-wrap: break-word;">
					<span ng-if="currSelectedResultItem.instance_name != null" class="md-headline">
						<a target="_blank" href="{{currSelectedResultItem.instance_uri}}">{{currSelectedResultItem.instance_name}}</a>
					</span>
					<span ng-if="currSelectedResultItem.instance_title != null" class="md-headline">
						<a target="_blank" href="{{currSelectedResultItem.instance_uri}}">{{currSelectedResultItem.instance_title}}</a>
					</span>
					<span ng-if="currSelectedResultItem.instance_label != null" class="md-headline">
						<a target="_blank" href="{{currSelectedResultItem.instance_uri}}">{{currSelectedResultItem.instance_label}}</a>
					</span>
					<span ng-if="currSelectedResultItem.instance_acronym != null" 
						  class="md-subhead"
						  style="font-weight:bold;">
						{{currSelectedResultItem.instance_acronym}}
					</span>
					<div layout="row">
						<span class="md-subhead"
							  style="font-weight:bold;">
							{{currSelectedResultItem.instance_type}}
						</span>
						<span class="md-subhead" ng-show="currSelectedResultItem.instance_acronym != null">&nbsp;- {{currSelectedResultItem.instance_acronym}}</span>
						<span class="md-subhead" ng-show="currSelectedResultItem.instance_ext_uri != null">
							<a target="_blank" href="{{currSelectedResultItem.instance_ext_uri}}">&nbsp;({{currSelectedResultItem.instance_ext_uri}})</a>
						</span>
					</div>
					<span ng-if="currSelectedResultItem.instance_params != null && currSelectedResultItem.instance_params != ''" class="md-subhead"><b>Keywords:</b> {{currSelectedResultItem.instance_params}}</span>
					<span ng-if="currSelectedResultItem.instance_description != null" 
						  class="md-subhead" 
						  style="font-style: italic; text-align:justify;">
						  <b>Description:</b>
						  <br/>
						{{currSelectedResultItem.instance_description}}
					</span>
					<span ng-if="currSelectedResultItem.instance_abstract != null" 
						  class="md-subhead" 
						  style="font-style: italic; text-align:justify;">
						  <b>Abstract:</b>
						  <br/>
						{{currSelectedResultItem.instance_abstract}}
					</span>
				</md-card-title-text>
			</md-card-title>
			
			<md-card-content>
				
				<div ng-repeat="item in currSelectedResultItem.related_entity_types"
					 layout="column" 
					 flex>
				
						<!--
						<md-subheader class="md-no-sticky" style="width: 100%;">
					    	{{item.related_entity_type}}
					    </md-subheader>
					    -->
					    <md-toolbar class="md-accent narrow-toolbar">
							<div class="md-toolbar-tools" layout-align="start center">
								<h2>{{item.related_entity_type}}</h2>
							</div>
						</md-toolbar>
					    
					    <md-list>
					    
							<md-list-item ng-repeat="itemProperty in item.related_entities_of_type" 
										  class="md-3-line" 
										  ng-click="handleSelectedResultItem(itemProperty.related_entity_uri, false, false)">
								<div class="md-list-item-text" layout="column" flex>
									<h3 style="white-space:normal; text-align:justify; color:#106CC8;">{{ itemProperty.relation }}</h3>
									<h4 style="white-space:normal; text-align:justify; color:#106CC8;">{{ itemProperty.related_entity_label }}</h4>
									<p style="white-space:normal; text-align:justify; color:#106CC8;" 
									   ng-show="itemProperty.related_entity_acronym != null">
										{{ itemProperty.related_entity_acronym }}
									</p>
								</div>
								<md-divider ></md-divider>
							</md-list-item>
							
						</md-list>
					    
						<!-- <md-subheader class="md-no-sticky">3 line item (with hover)</md-subheader>-->
					
				</div>
				
			</md-card-content>
			
		</md-card>
		
	</md-content>
	
</div>