<div class="section" style="padding: 20px;" ng-cloak>
	
	<div class="row">
		<div class="column inside" style="width:100%">
			
			<md-toolbar class="md-primary">
				<div class="md-toolbar-tools">
				
					<div class="zoom-show-hide" ng-hide="treeMenuIsOpen">
					<!-- 
						This md-button used to have the ng-hide (not its div container)
						along with a animation class 'hideLeft' 
					-->
						<md-button ng-click="toggleTreeMenu();" 
								   class="md-fab md-mini" 
								   aria-label="Show VRE's menu">
				            <md-icon md-font-icon="fa fa-bars" style="font-size:20px;"></md-icon>
				            <md-tooltip md-delay="1000" md-direction="top">
								Show VRE's menu
							</md-tooltip>
				        </md-button>
					</div>
			        
			        <!-- <img src="/images/SPARQL_ICON.png" alt="SPARQL_ICON" height="36" style="padding-right:10px;">-->
			        <md-icon md-font-icon="fa fa-search" style="font-size:36px; padding-right:10px;"></md-icon>
					<h2 class="md-flex" flex>{{headingTitle}}</h2>
					
					<div ng-show="!searchForm.$invalid" class="zoom-show-hide">
						<md-button ng-click="observeSparql($event)" 
								   
								   class="md-icon-button" 
								   aria-label="Observe Sparql">
				            <img src="/images/SPARQL_ICON.png" alt="SPARQL_ICON" height="28">
				            <md-tooltip md-delay="1000" md-direction="top">
								Observe SPARQL Query
							</md-tooltip>
				        </md-button>
					</div>
					
					<div>
						<md-button ng-click="showFavoriteDialog($event)" ng-show="!currentFavorite.itIsFavorite" class="md-icon-button" aria-label="Favorites">
				            <md-icon md-font-icon="fa fa-star-o" style="font-size:28px;">
				            <md-tooltip md-delay="1000" md-direction="top">
								Add into favorites
							</md-tooltip>
				        </md-button>
				        <md-button ng-click="removeCurrentQueryModelFromFavorites($event);" ng-show="currentFavorite.itIsFavorite" class="md-icon-button" aria-label="Favorites">
				            <md-icon md-font-icon="fa fa-star" style="font-size:28px;">
				            <md-tooltip md-delay="1000" md-direction="top">
								Remove from favorites
							</md-tooltip>
				        </md-button>
						<md-button ng-click="toggleInfo()" class="md-icon-button" aria-label="Show Help">
				            <!-- <md-icon md-font-icon="fa fa-info-circle" style="font-size:28px;"></md-icon> -->
				            <md-icon md-font-icon="fa fa-question-circle" style="font-size:28px;">
				            <md-tooltip md-delay="1000" md-direction="top">
								Help
							</md-tooltip>
				        </md-button>
			        </div>
				</div>
			</md-toolbar>
			
			<md-backdrop ng-show="infoNavIsOpen" 
								 class="md-opaque"
								 ng-cloak></md-backdrop>
			
			<md-sidenav class="md-sidenav-right" 
					md-component-id="rightInfo"
                	md-whiteframe="4"
                	md-disable-backdrop
                	style="margin-top:94px; max-width:665px; width:665px">

				<md-toolbar class="md-accent">
					<div class="md-toolbar-tools">
						<md-button class="md-icon-button" aria-label="Hide Help" ng-click="toggleInfo()">
	          				<md-icon md-font-icon="fa fa-chevron-circle-right" style="font-size:24px"></md-icon>
	        			</md-button>
						
						<h2 class="md-flex">Help</h2>
						<span flex></span>
						<!-- <md-icon md-font-icon="fa fa-info" style="font-size:24px;"></md-icon>-->
						<md-icon md-font-icon="fa fa-question" style="font-size:24px;"></md-icon>
					</div>
				</md-toolbar>
	
				<md-content layout-margin>
					<p>
						<div ng-include="'views/info/queryBuilderHelp.html'"></div>
					</p>
					
					<div layout="row">
						<md-button ng-click="toggleInfo()" class="md-accent">
							Close this Sidenav
						</md-button>
						<span flex></span>
						<md-button class="md-primary" ng-href="views/info/queryBuilderHelp.pdf" target="_blank">
							Open in PDF
						</md-button>
					</div>
				</md-content>
	
			</md-sidenav>
			
			<md-content id="mainContent" flex layout-padding style="overflow:visible;" layout="column">
				
				<form ng-submit="$event.preventDefault()" name="searchForm">
				
					<!-- Breadcrumb -->
					<!--
					<ul id="breadcrumb"> 
						<li ng-repeat="item in breadcrumbItems">
							<a href="" ng-if="$first" ng-click="goToHomeView()">
								<span class="fa fa-home"></span>
							</a>
							<a href="" ng-if="!$first" ng-click="testBreadcrumb(headingTitle)">
								<span class="{{item.icon}}"></span> 
								{{item.label}}
							</a>
						</li>
					</ul>
					-->
					
					
					<span layout="row">
				        
				        <md-backdrop ng-show="treeMenuIsOpen" 
								 class="md-opaque"
								 ng-cloak></md-backdrop>
				        
				        <!-- Side tree -->
						<md-sidenav class="md-sidenav-left" 
								md-component-id="treeMenu" 
								md-disable-backdrop
			                	md-whiteframe="3">
								<!-- md-disable-backdrop  -->
								<md-toolbar class="md-accent">
									<div class="md-toolbar-tools">
										<md-button class="md-icon-button" aria-label="Hide Help" 
												   ng-click="reLoadEntities($event, queryFrom);">
					          				<md-icon md-font-icon="fa fa-chevron-circle-left" style="font-size:24px"></md-icon>
					          				<md-tooltip md-delay="1000" 
					            						md-direction="top">
												Apply changes and hide
											</md-tooltip>
					        			</md-button>
										
										<h2 class="md-flex">VREs</h2>
										<span flex></span>
										<md-icon md-font-icon="fa fa-bars" style="font-size:20px;"></md-icon>
									</div>
								</md-toolbar>
				
								<md-content layout-margin>
									
									<label style="rgba(0,0,0,0.38); text-align: justify;">
										Please check or un-check the VREs to be used while constructing the query.
										<br/>
										<!--
										<code>
											Note that changing the list of VREs after the query has been constructed is not possible since the whole query will be reset.
										</code>
										-->
									</label>
									
									<md-input-container class="md-block eliminate-error-spacer-for-search-vres" style="width:200px;">
										<label>Search VREs</label>
										<input ng-model="treeVre">
									</md-input-container>
									
									<section layout="column" style="margin-bottom:0;">
						
						  				<div ivh-treeview="namegraphs" class="checkbox"
						  					 ivh-treeview-filter="treeVre"
						  					 ivh-treeview-on-toggle="awesomeCallback(ivhNode, ivhIsExpanded, ivhTree)"
						  					 ivh-treeview-on-cb-change="namegraphTreeCallback($event, ivhNode, ivhIsSelected, ivhTree)"
						  					 style="margin-bottom:0;">
										</div>
									
									</section>
										
									<md-button ng-click="reLoadEntities($event, queryFrom);" 
											   class="md-accent" 
											   style="margin-top:0;">
										Apply changes and hide
									</md-button>
								</md-content>
				
						</md-sidenav>
						
						<section layout-align="center top" layout="row" layout-sm="column" layout-align="center center"> <!-- start for top -->
							
							<div layout="column" 
								 style="height:296px; 
								 		width:255px;
								 		margin:18px 5px; 
								 		padding:5px; 
								 		border: 1px solid #ccc; 
								 		border-radius: 5px;" 
								 layout-wrap">
								<!-- width:255px; -->
								
								<md-toolbar class="md-primary narrow-toolbar">
									<div class="md-toolbar-tools" layout-align="start center">
										<h2>Searching for...</h2>
									</div>
								</md-toolbar>
										
								<md-content layout-padding layout-xs style="height: 180px;">
								
									<md-input-container class="md-block shrinked">
										<label>Select Target Entity</label>
										<md-select ng-model="targetModel.selectedTargetEntity" 
												   ng-model-options="{trackBy: '$value.uri'}"
												   name="targetEntityInput" 
												   ng-change="loadRelatedEntitiesAndRelationsByTarget($event, null, rowModel, targetModel.selectedTargetEntity, 'targetEntitySelect')"
												   required 
												   md-no-asterisk="false">
											<md-option ng-repeat="entity in targetModel.targetEntities" ng-value="entity" >
												{{entity.name}}
											</md-option>
										</md-select>
									</md-input-container>
									
									<!--
									<md-input-container class="md-block" flex-gt-sm>
										<label>Search for keyword</label>
										<input name="clientName" ng-model="targetModel.searchTargetKeywords">
										<div ng-messages="targetEntityInput.$error">
											<div ng-message="required">This is required.</div>
										</div>
									</md-input-container>
									-->
									<span>
										<md-chips ng-model="targetModel.targetChips" 
												  md-removable="true" 
												  class="shrinked" 
												  md-transform-chip="transformChip($chip)"
												  md-enable-chip-edit="true"
												  md-on-add="loadRelatedEntitiesAndRelationsByTarget($event, null, rowModel, targetModel.selectedTargetEntity, 'targetChipChange')"
												  md-on-remove="loadRelatedEntitiesAndRelationsByTarget($event, null, rowModel, targetModel.selectedTargetEntity, 'targetChipChange')"
												  md-add-on-blur="true"
												  style="padding:0;">
											<md-autocomplete flex layout-xs md-input-name="targetEntityAutocompleteInput"
															 class="shrinked"
															 md-no-cache="true" 
															 md-dropdown-items="5" 
															 md-selected-item="targetModel.selectedTargetRecomentation" 
															 md-search-text="targetModel.searchTargetKeywords"
															 md-selected-item-change="selectedItemChange(item, -1)"
															 md-items="item in querySearch(targetModel.searchTargetKeywords, -1)"
															 md-item-text="item.name"
															 md-min-length="2"
															 ng-disabled="targetModel.selectedTargetEntity.name==null"
															 placeholder="Containing keyword"
															 ng-focus="loadThesaurus(targetModel.selectedTargetEntity, -1)"
															 style="font-size:14px;">
															 <!-- class="shrinked autocomplete-with-icon" -->
			         										 <!-- md-floating-label="Search for keyword" -->
												<span md-highlight-text="searchText">{{item.name}}</span>
											    <md-not-found>
													No terms matching "{{searchText}}" were found.
										        </md-not-found>
											</md-autocomplete>
											
											<md-chip-template>
									        	<span style="font-size:14px;">
													{{$chip.name}}
												</span>
											</md-chip-template>
										</md-chips>
										<md-tooltip ng-show="rowModel.selectedRelatedEntity == null" 
					            				md-delay="1000" 
					            				md-direction="top"
					            				style="margin-top: 40px !important;">
											Select Some target entity to enable this search field
										</md-tooltip>
									</span>
									<!-- 
									Autocomplete with chip:
									https://codepen.io/Rishii/pen/mPqazv
									
									 -->
								</md-content>
										
							</div>
							
							<!-- 
							<div ng-repeat="rowModel in wholeRowModels track by $index" 
								 style="padding:18px 0" 
								 ng-init="outerIndex=$index">
								<row-template/> 
							</div>
							-->
							
							
							<md-list flex>
								<md-list-item ng-repeat="rowModel in rowModelList track by $index" 
											  ng-init="outerIndex=$index" 
											  style="padding:10px 0" 
											  class="showListItem">
									<div layout="column" ng-include="'../views/rowTemplate.html'" onload="parent=$parent"></div>
									<!--
									<row-template/>
									-->
								</md-list-item>
							</md-list>
						
						</section>
											
					</span>
					
					<span layout="row">
						<md-button class="md-raised md-primary" 
								   ng-click="applySearch()"
								   ng-disabled="searchForm.$invalid">
							<md-icon md-font-icon="fa fa-search" style="font-size:18px"></md-icon>
							Search
						</md-button>
						<span flex></span>
						<md-button class="md-raised md-accent" ng-click="applyReset($event)">
							<md-icon md-font-icon="fa fa-dot-circle-o" style="font-size:18px"></md-icon>
							Reset
						</md-button>
						
					</span>
				
					<!--
					<button ng-click="selectHats()">
						Select Hats
				    </button>
				    <button ng-click="deselectGel()">
						Deselect Gel ink
				    </button>
					-->
				
				</form>
			</md-content>
			
			<!-- Displaying Results -->
			<md-content>
				<div style="padding-left:30px;" class="row" ng-show="finalResults.results.bindings.length > 0">
					<md-toolbar class="md-primary">
						<div class="md-toolbar-tools">
							<h2 class="md-flex">Data Results</h2>
							<span flex></span>
						</div>
					</md-toolbar>
					<div>
						<table class="table table-striped table-condensed table-hover scrollTable">
							<thead>
								<div layout-padding>
									To resolve any of the <code style="color:#106CC8;background: rgba(0,0,0,0.065);">"{{targetModel.selectedTargetEntity.name}}"</code> 
									results listed below, please <code>click on the</code> respective <code>row</code>.
								</div>
								<tr ng-repeat="item in finalResults.results.bindings|limitTo:1" class="ng-scope">
									<th ng-repeat="(key,val) in item" 
										class="ng-binding" 
										ng-if="key != 'isChecked' && key != 'uri'"
										style="vertical-align:middle; padding:0;">
											{{key | uppercase}} 
									</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in finalResults.results.bindings" 
									class="ng-scope"
									ng-click="handleClickedRowFromFinalResults(item.uri.value);"> <!-- ng-class="{selected: entity.isChecked}" -->
									<td ng-repeat="(key,val) in item" 
										class="ng-binding" 
										ng-if="key != 'isChecked' && key != 'uri'"
										style="vertical-align:middle; padding:0;">
										{{val.value}}
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<div>
						<md-divider></md-divider>
						<div class="text-center">
							<ul uib-pagination items-per-page="itemsPerPage"
								total-items="finalResults.totalItems" 
								ng-model="currentPage"
								max-size="maxSize" 
								class="pagination-sm" 
								boundary-links="true"
								force-ellipses="true" 
								ng-change="getFinalReusltsForData();">
							</ul>
						</div>
						<md-divider></md-divider>
						<div class="text-right" ng-class="activeRelatedSearchResultsStyle">
							Number of Results: <b>{{finalResults.totalItems}}</b>
						</div>
					</div>
					
				</div>
				
				<div ng-show="finalResults.results.bindings.length < 1" 
					 style="color:rgb(63,81,181); 
					 		font-size:20px;
					 		text-align: center;
			    			width: 100%;
			    			margin-top:20%;">
					I'm Sorry. No entries were found
				</div>
				
			</md-content>
			
		</div>
		
	</div>

</div>