<div class="section" style="padding: 20px;">
	
	<div class="row">
		<div class="column inside" style="width:100%">
			
			<md-toolbar class="md-primary">
				<div class="md-toolbar-tools">
					<h2 class="md-flex" flex>{{headingTitle}}</h2>
					<md-button ng-click="toggleInfo()" class="md-fab md-mini" aria-label="Show Help">
			            <md-icon md-svg-src="images/information-variant.svg"></md-icon>
			        </md-button>
				</div>
			</md-toolbar>
			
			<md-content flex layout-padding style="overflow:visible;">
			
				<form id="queryForm" class="ng-valid ng-dirty" role="form" ng-submit="submitAsyncQueryJSON()">
				
					<div id="tags-box">
						<div class="form-group">
							
							<div layout-padding>
								<p>
									In the fields below, for each <code>entity</code> containing one or more <code>keywords</code>, 
									select which ?information? to <code>display</code>, taking into consideration one or more collections.
									Then use the <code style="color:#106CC8;background: rgba(0,0,0,0.065);">'SEARCH'</code> button for the query to be applied and get results back.
								</p>
							</div>
							
							<div uib-alert ng-repeat="alert in alerts"
								 ng-class="'alert-' + (alert.type || 'warning')" 
								 class='fadeAlert'
								 close="alerts.splice($index, 1);">
								{{alert.msg}}
							</div>
							
							
							<div layout="row" layout-padding>
								
								<div style="margin-top: -12px;">
									<md-input-container>
										<label>Search on</label>
										<md-select ng-model="selectedEntity" 
												   name="entityInput"
												   class="md-no-underline" 
												   placeholder="Search on Entity"
												   required 
												   md-no-asterisk="false"
												   ng-change="autoSetInputPlaceholder()">
											<md-option ng-repeat="entity in entities" ng-value="entity" >
												{{entity.name}}
											</md-option>
										</md-select>
									</md-input-container>
								</div>
								
								<div>
									
									<tags-input id="tagsInput" 
												ng-model="terms" 
												key-property="id"
												display-property="name"
												ng-attr-placeholder="Enter some keyword"
												ng-disabled="!selectedEntity.thesaurus"
												style="min-width:390px;max-width:700px;">
												<!--add-on-paste="true"--> 
										<auto-complete source="loadTags($query)" 
													   min-length="2" 
													   load-on-focus="false"
													   load-on-empty="false" 
													   max-results-to-show="32"
													   ><!-- style="overflow:auto;height:10px;" -->
										</auto-complete>
										
									</tags-input>
									
								</div>
								
								<div style="margin-top: -12px;">
									<md-input-container>
										<label>Projection</label>
										<md-select ng-model="selectedProjection" 
												   class="md-no-underline" 
												   placeholder="Display"
												   required 
												   md-no-asterisk="false"
												   ng-change="autoSetInputPlaceholder()">
											<md-option ng-repeat="projection in projections" ng-value="projection" >
												{{projection.name}}
											</md-option>
										</md-select>
									</md-input-container>
								</div>
								
								<div style="margin-top: -12px;">
									<md-input-container>
										<label>Collections</label>
										<md-select ng-model="selectedNamegraphs" 
												   multiple
												   placeholder="Collections"
												   required 
												   md-no-asterisk="false" style="width:300px;">
											<md-option ng-value="nameGraph.g.value" 
													   ng-repeat="nameGraph in nameGraphs"
													   ng-selected="nameGraph.selected">
												{{nameGraph.g.value}}
											</md-option>
								        </md-select>
									</md-input-container>
								</div>
								
							</div>
														
							<div class="form-group">
								<md-button type="submit" class="md-raised md-primary">Search</md-button>
							</div>
							
						</div>
					</div>
					
				</form>
			</md-content>
		</div>
		
		<md-sidenav class="md-sidenav-right" 
					md-component-id="rightInfo"
                	md-disable-backdrop 
                	md-whiteframe="4"
                	style="margin-top:30px;">

			<md-toolbar class="md-accent">
				<div class="md-toolbar-tools">
					<md-button class="md-icon-button" aria-label="Hide Help" ng-click="toggleInfo()">
          				<md-icon md-svg-src="images/chevron-right.svg" style="color: white;"></md-icon>
        			</md-button>
					
					<h2 class="md-flex">Information</h2>
					<span flex></span>
					<md-icon md-font-icon="mdi mdi-information-outline" style="font-size:25px;"></md-icon>
				</div>
			</md-toolbar>

			<md-content layout-margin>
				<p>
					<div ng-include="'views/info/queryInfo.html'"></div>
				</p>
					
				<md-button ng-click="toggleInfo()" class="md-accent">
					Close this Sidenav
				</md-button>
			</md-content>

		</md-sidenav>
		
	</div>



	<!-- Results Table -->
	<div ng-show="lastEndPointForm.totalItems>0" class="row">
		<md-toolbar class="md-primary">
			<div class="md-toolbar-tools">
				<h2 class="md-flex">Data Results</h2>
			</div>
		</md-toolbar>
		<div id="table_results">
			<table class="table table-striped table-condensed table-hover scrollTable">
				<thead>
					<tr ng-repeat="item in endpointResult.results|limitTo:1" class="ng-scope">
						<th ng-repeat="(key,val) in item" class="ng-binding">
							{{key}} 
						</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="3">
							<div class="text-center">
								<ul uib-pagination items-per-page="itemsPerPage"
									total-items="totalItems" 
									ng-model="currentPage"
									max-size="maxSize" 
									class="pagination-sm" 
									boundary-links="true"
									force-ellipses="true" 
									ng-change="pageChanged()">
								</ul>

							</div>
						</td>
					<tr>
					<tr>
						<td colspan="4">
							<div class="text-right">
								Number of Results: <b>{{lastEndPointForm.totalItems}}</b>
							</div>
						</td>
					</tr>
				</tfoot>
				<tbody style="height: 150px;">
					<tr ng-repeat="item in endpointResult.results" class="ng-scope">
						<td ng-repeat="column in item" class="ng-binding">
							
							<span ng-if="column.link === true">
								<a ng-href="{{column.uri}}" target="_blank">
									{{column.name}}
								</a>
							</span>
							
							<span>
								<a ng-if="column.link === undefined && column.type==='uri'" ng-href="{{column.value}}" target="_blank">
									{{column.value}}
								</a>
							</span>
							
							<span ng-if="column.link === undefined && column.type!=='uri'">
								{{column.value}}
							</span>
							
						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
	
	<div ng-show="lastEndPointForm.totalItems==0" class="row">
		<div style="margin-top: -40px;padding-left: 40px;">
			<h4>No entries were found</h4>
		</div>
	</div>

</div>